{% extends 'admin/base.html' %}
{% load i18n unfold %}

{% block content %}
<div class="flex flex-col gap-4">
    <div class="flex flex-row items-center">
        <h2 class="text-xl font-semibold flex-1">
            {% trans "Drivers" %}
        </h2>

        {% url 'driver_add' as driver_add_url %}
        <div class="flex flex-row gap-2">
            {% component "unfold/components/button.html" with href=driver_add_url variant="primary" %}
                {% trans "Add Driver" %}
            {% endcomponent %}
        </div>
    </div>

    {% component "unfold/components/card.html" %}
        {% component "unfold/components/table.html" with table=driver_table card_included=1 %}{% endcomponent %}
    {% endcomponent %}
</div>
{% endblock %}
